<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1>Book Results</h1>
  <p><a href="/">Home</a></p>
  <ul>
    <% books.forEach(value => { %>
    <img src = "<%= value.thumbnail%>"> 
    <li><%= value.title %></li>
    <li><%= value.author %></li>
    <li><%= value.description %></li>
    <!-- <li><%= value.book_id %></li> -->


  </ul>
  
  <a href="/books/<%=value.book_id %>"><button>View more details</button></a>
  <form id="save-book" action="/add/<%= value.book_id %>" method="POST">
    <fieldset>
      <input type="hidden" name="isbn" value="<% value.book_id %>" >
      <button type="submit">Add to library</button>
    </fieldset>
  </form>  
  <% }) %>
  
  
</body>
</html>