<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1>Book Results</h1>
  <p><a href="/">Home</a></p>
  <ul>
    <% books.forEach(eachBook => { %>
    <img src = "<%= eachBook.thumbnail%>"> 
    <li><%= eachBook.title %></li>
    <li><%= eachBook.author %></li>
    <li><%= eachBook.summary %></li>


  </ul>
  

  <form id="save-book" action="/books/save/<%= eachBook.book_id %>" method="POST">
    '/books/details/:id
    <fieldset>
      <input type="hidden" name="thumbnail" value="<%= eachBook.thumbnail %>" >
      <input type="hidden" name="book_id" value="<%= eachBook.book_id %>" >
      <input type="hidden" name="title" value="<%= eachBook.title %>" >
      <input type="hidden" name="author" value="<%= eachBook.author %>" >
      <input type="hidden" name="summary" value="<%= eachBook.summary %>" >

      <input type="submit" value ='Add to library' >
    </fieldset>
  </form>  
  <% }) %>
  
  
</body>
</html>