<%- '../partials/head.ejs' %>

<body>
    <h1>Hello World</h1>
    <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter title or author" required>
        <fieldset>
            <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="title" required>
            </label>
        </fieldset>
        <fieldset>
            <label for="author">
                <span>Author</span>
                <input type="radio" name="search" value="author" required>
            </label>
        </fieldset>
        <button type="submit">Search Book</button>
    </form>




    <h1>Book Results</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% sqlKey.forEach(value => { %>
      <img src = "<%= value.thumbnail%>"> 
      <li><%= value.title %></li>
      <li><%= value.author %></li>
      <li><%= value.description %></li>
      <% }) %>
    </ul>
</body>

</html>