<!DOCTYPE html>
<%- include('../partials/head') %>


<body>
<%- include('../partials/header') %>

    <h1>Book Results</h1>
    <p>Total Number of Books: <%= sqlKey.length %></p>
    <p><a href="/">Home</a></p>


    <% sqlKey.forEach(value => { %>
        <ul>
      <img src="<%= value.image_url %>">
      <li><%= value.title %></li>
      <li><%= value.author %></li>
      <li><%= value.summary %></li>
      <li><%= value.book_id %></li>

      <form id="detail" action="/books/details/<%=value.book_id %>" method="POST">
        <fieldset>
          <input type="hidden" name="thumbnail" value="<%= value.thumbnail %>" >
          <input type="hidden" name="book_id" value="<%= value.book_id %>" >
          <input type="hidden" name="title" value="<%= value.title %>" >
          <input type="hidden" name="author" value="<%= value.author %>" >
          <input type="hidden" name="summary" value="<%= value.summary %>" >
    
          <input type="submit" value ='View more details' >
        </fieldset>
      </form>  



      <a href="/books/details/<%=value.book_id %>">View more details</a>
    </ul>
      <% }) %>
</body>

</html>




